[submodule "MeshX/third-party/imgui"]
	path = MeshX/third-party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "MeshX/third-party/glfw"]
	path = MeshX/third-party/glfw
	url = https://github.com/glfw/glfw.git
