# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.ilk
*.pdb

# Excel Files
*.xls
*.csv
CodeForces_tools/Gyroscope.csv
CodeForces_tools/Gyroscope.xls
CodeForces_tools/*.txt

# VS Code folder
.vscode/